/* ここから下に記載していく */

p {
    line-height:30px;
}


.title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom:30px;
}

.botton {
    margin: 60px auto;
    width: 300px;
    height: 60px;
    font-size:18px;
    display: inline-block;
    text-decoration: none;
    background: #ffd61a;
    color: #FFF;
    border-bottom: solid 4px #a08409;
    border-radius: 3px;
}

.botton:hover{
    background: rgba(255, 214, 26, 0.6);
}

.botton:active {
transform: translateY(4px);
box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
border-bottom: none;
}

.buttonText {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*============ header ===========*/

.wrap {
    width:1200px;
    margin: 0 auto;
}

.header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header__image {
    flex:7;
}

.header__image img{
    margin: 10px;
    width: 50%;
}

.header__menu {
    flex:3;
}

.header__menu ul{
    display:flex;
}

.header__menuIcon a {
    display: inline-block;
    padding: 50px 25px;
    text-decoration: none;
    color : inherit;
    font-size:14px;
}

.header__menuIcon a:hover {
    background-color:rgba(0, 0, 0, 0.1);
    transition: 0.1s;
}

/*============ main ===========*/

/*============ mv ===========*/
.mContent__mv {
    background-image: url(../img/mainbg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
}

.mContent__mv .mContent__mv--text {
    margin:0;
    padding:0;
    text-align: center;
    color:#fff;
    padding-top:200px;
}

.mContent__mv .mContent__mv--text h1{
    font-size:48px;
    font-weight: bold;
    margin-bottom: 30px;
}

.mContent__mv .mContent__mv--text p{
    font-size:24px;
}

/*============ about ===========*/
.mContent__about {
    margin-top:60px;
    margin-bottom:80px;
    text-align:center;
    color: #222222;
}

.yellow {
    color: #ffd61a;
}

.mContent__about h2 {
    margin:30px;
}

.mContent__about p {
    margin:20px;
}

.mContent__about--img {
    display: flex;
    margin-top:80px;
}

.mContent__about--img img{
    width: 25%;
}

/*============ course ===========*/

.mContent__course--text {
    margin: 60px auto;
}

.mContent__course--text p {
    text-align: center;
}

.mContent__course--content {
    display:flex;
}

.mContent__course--content:nth-child(even) {
    flex-direction: row-reverse;
  }

.mContent__course--content .course__img{
    width: 50%;
  }

  .mContent__course--content .course__img img{
    width: 100%;
  }

.mContent__course--content .course__txt {
    width: 480px;
    margin-left: 50px;
    margin: auto 50px;
}

.mContent__course--content h3 {
    font-size:24px;
    font-weight: bold;
    margin-bottom: 40px;
}

/*============ news ===========*/
.mContent__news--text {
    margin: 60px auto;
    text-align: center;
}

.mContent__news--contentContainer {
    display:flex;
    justify-content: center;
}

.mContent__news--content {
    width:300px;
    margin:0 30px;
}

.mContent__news--content:hover {
    outline: 5px solid rgba(64,158,144,0.5);
    outline-offset: 0px;
    transition: 0.1s;
}

.contentText {
    font-size:14px;
}

.timestamp {
    margin-top: 30px;
    margin-bottom: 24px;
}

.mContent__news--button {
    width: 100%;
    display:flex;
    justify-content: center;
}

/*============ Access ===========*/
.mContent__access {
    padding: 60px 0;
    background-color: #F6F7F7;
}

.mContent__access--text {
    text-align: center;
    margin-bottom: 60px;
}

.maptable {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

table th, td {
    text-align: left;
    padding:15px 50px;
}



/*============ Contact ===========*/
.mContent__contact {
    margin: 60px 0;
}

.mContent__contact--text {
    text-align: center;
    padding: 0 20px;
}

.mContent__contact--text .descripton {
    margin-top:60px;
    margin-bottom: 30px;
}

.contactForm {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:70px;
    margin-bottom:140px;
}

.formTable table tr {
 border-top:solid 1px #bfbfbf;
}

.formTable table tr:last-child {
    border-bottom:solid 1px #bfbfbf;
}

.formTable table th {
    width: 150px;
    padding: 8px 64px 8px 16px;
    display: table-cell;
    vertical-align: middle;
}

.formTable table td {
    width: 400px;
    padding: 8px;
    border-left: solid 1px #bfbfbf;
}

.formTable .inputText, select{
    width: 300px;
    padding:8px;
    border-radius: 3px;
    border: solid 1px #bfbfbf;
}

.formCheckox {
    padding:6px;
}

.formSubmit {
    display: flex;
    justify-content: center;
    margin-top:30px;
}

input[type='submit'] {
    border:none;
    border-bottom: solid 4px #a08409;
    margin:0;
}

.footerContent {
    background-color: #707070;
    display:flex;
    justify-content: center;
}

.footerContent p{
    padding: 30px;
    color:#fff;
}


/*============ responsible ===========*/
@media screen and (max-width: 768px) {

.wrap {
    width: 100%;
}

.header {
    display:flex;
    justify-content: space-between;
    flex-direction: column;
}

.header__menuIcon a {
    padding: 20px 8px;
}

.mContent__about--img {
    display:flex;
    flex-wrap:wrap;
}

.mContent__about--img img{
    width: 50%;
}

.mContent__course--content {
    display:flex;
    flex-direction: column;
}

.mContent__course--content:nth-child(even) {
    flex-direction: column;
  }

.mContent__course--content .course__img{
    width: 100%;
  }

.mContent__course--content .course__txt {
    margin: 20px auto;
    width: 80%;
    text-align: center;
}

.mContent__news--contentContainer {
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.mContent__news--content:not(:first-child){
    margin-top: 80px;
}

.mContent__news--content {
    margin:0 auto;
}

table {
    table-layout: fixed;
    word-break: break-all;
    word-wrap: break-word;
    box-sizing: border-box
  }

.maptable table th {
    text-align: left;
}

.maptable table th, td {
    padding: 5px 0;
}

.maptable table td {
    padding-bottom: 15px;
}


table td, th {
    width:100%;
    padding:0%;
    display: block;
    word-wrap: break-word;
    font-size:14px;
}

.formTable {
    width: 350px;
    overflow: hidden;
}

.formTable table th, td{
    width: 350px;
    display: block;
}

.formTable table td {
    width: 350px;
    border-left: solid 0px #fff;
    padding-bottom: 20px;
}

.formTable table tr:last-child {
    border-bottom: solid 0px #fff;
}

.formTable table tr{
    width: 350px;
    border: solid 0px #fff;
}
}